.btn{
	font-size:15px;
	background-color: darkgoldenrod;
	border:#f9f9f9;
	box-shadow: 0ex;
}
.btn:hover{
	cursor: pointer;
}
.text{
	font-size:20px;
}
table{
	table-layout: fixed;
	width:100%;
	border-collapse: collapse;
}
td,th{
	text-align: center;
}
th{
	background-color: beige;
}
.head{
	padding-top: 20px;
}